DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=1477090615912300675
DISCORD_GUILD_ID=your_discord_server_id
GITHUB_TOKEN=github_fine_grained_token
GITHUB_OWNER=emilels2010-rgb
GITHUB_REPO=wasd
GITHUB_BRANCH=main
STAFF_ROLE_ID=optional_discord_staff_role_id
